<h2>New Search</h2>
<%= form_tag searchs_path do %>


  <p>
    <%= label_tag :age %>
    <%= text_field_tag :age %>
  </p>

  <p>
    <%= label_tag :sex %>
    <%= select_tag :sex, options_for_select([ "male", "female" ], "male") %>
 </p>

  <p>
     <%= label_tag :region %>
     <%= select_tag :region, options_for_select([ "California", "Illinois", "New York" ], @user.region) %>
  </p>

  <%= submit_tag "Search" %>

<% end %>


<h2>Search Results</h2>
<ul>
  <% if !@searches.blank? %>
      <% @searches.each do |search| %>
        <li><%= link_to search.name, "/profile/#{search.id}"%>
            <% if session[:user_id]%>
            <%= form_tag follows_path do%>
            <%= hidden_field_tag :id, search.id%>
            <%= submit_tag '(Follow)'%>
            <%end%>
            <%end%>
        </li>
      <% end %>

  <% else %>
  No results found!
  <% end %>


</ul>
